alembic==1.12.0
altgraph==0.17.2
aniso8601==9.0.1
beautifulsoup4==4.10.0
blinker==1.6.2
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.7
click==8.1.7
colorama==0.4.4
crypto==1.4.1
DateTime==4.4
dnspython==2.4.2
email-validator==2.0.0.post2
et-xmlfile==1.1.0
Flask==2.2.3
Flask-Login==0.6.2
Flask-Migrate==4.0.5
Flask-RESTful==0.3.9
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.0.0
future==0.18.2
greenlet==1.1.2
idna==3.3
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
lxml==4.6.4
Mako==1.2.0
MarkupSafe==2.1.3
multitasking==0.0.9
Naked==0.1.32
numpy==1.21.4
openpyxl==3.1.2
pandas==1.3.4
pefile==2021.9.3
plotly==5.3.1
pygame==2.1.2
pyinstaller==4.7
pyinstaller-hooks-contrib==2021.3
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQtWebEngine==5.15.5
PyQtWebEngine-Qt5==5.15.2
pyTelegramBotAPI==4.10.0
python-dateutil==2.8.2
pytz==2021.3
pywin32-ctypes==0.2.0
PyYAML==6.0
qt-material==2.8.13
requests==2.26.0
shellescape==3.8.1
six==1.16.0
soupsieve==2.3.1
SQLAlchemy==2.0.21
SQLAlchemy-serializer==1.4.1
surrogates==1.0.2
tenacity==8.0.1
typing_extensions==4.8.0
urllib3==1.26.7
uuid==1.30
Werkzeug==2.3.7
WTForms==3.0.1
wtforms-html5==0.6.1
yfinance==0.1.64
zipp==3.17.0
zope.interface==5.4.0
